{% for provinceInfo in provincesInfo %}
       <div id="province_info_{{ provinceInfo.code }}" style="display:none">
           {{ provinceInfo.province }}
           Apskritis turi TODO sklypus, kurie užima {{ provinceInfo.teritory }} hektarų plotą.
           <br>
           <b>Medyno skalsumas</b> – tai esamo normalaus medynų tūrių (arba skerspločių sumų) santykis.<br>
           Vidutinis skalsumas sklypuose: <b>{{ provinceInfo.average_lushness }}</b>
           <br>
           <b>Girininkija</b> − gamybinis administracinis miškų urėdijos ūkio vienetas.<br>
           Apskritis turi <b>{{ provinceInfo.forestries }}</b> girininkijas.
           </div>
    {% endfor %}
<div id="info">
    <div class="alert alert-warning" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        Paspauskite ant apskrities žemėlaypje norėdami peržiūrėti informaciją apie apskritį.
    </div>

</div>
